::selection {
  background: #f44b00;
  color: #000;
}
::-moz-selection {
  background: #f44b00;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #f9f8f6;
  color: #04111d;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-size: cover;
  font-size: 1.15rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4 {
  font-weight: normal;
}


a {
  text-decoration: none;
  color: inherit;
}

.fm {
  font-family: 'Roboto Mono','Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
}

.medium {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.large {
  font-size: 1.7rem;
  line-height: 2.1rem;
}

p {
  margin-bottom: 1.1em;
  line-height: 1.5rem;
}

.mt {
  margin-top: 40px;
}
.mb {
  margin-bottom: 40px;
}
.mb--x2 {
  margin-bottom: 80px;
}



.cnt {
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10rem;
  max-width: 1200px;
}

@media (--bs) {
.cnt {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 80px;
  width: 80%;
}
}


.btn {
  background: var(--color-accent);
  color: var(--color-accent-invert);
  padding: 12px 15px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  border-radius: 3px;
  font-family: 'Roboto Mono','Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
  font-size: 0.95rem;
}
.btn:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,0.05);
  content: '';
  display: none;
}
.btn:hover:before {
  display: block;
}


.color--tint {
  color: var(--color-tint);
}
.color--tint-medium {
  color: var(--color-tint-medium);
}
.color--tint-light {
  color: var(--color-tint-light);
}