.directory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -1%;
}
.directory__letter {
  width: 18%;
  margin: 1%;
}
.directory__letter dt {
  border-bottom: 1px solid var(--color-accent);
  color: var(--color-accent);
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.directory__letter dd {
  font-size: 0.95rem;
  border-bottom: 1px solid rgba(53,80,84,0.3);
}
.directory__letter a {
  display: block;
  padding: 3px 0;
}
.directory__letter a:hover {
  background: rgba(53,80,84,0.2);
}