footer {
  background: #1b1c1d url(/assets/mark.svg) no-repeat 50% 90%;
  background-size: 30px auto;
  color: #f9f8f6;
  position: relative;
  z-index: 1;
  padding: 3rem 5% 10rem;
}

footer ul {
  list-style: none;
}
footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #525357;
}
footer .inline a:hover {
  color: #f44b00;
  border-color: #f44b00;
}

footer .nav {
  position: absolute;
  margin: 0;
  margin-bottom: 4rem;
  width: 30%;
}
footer .nav a {
  color: #fff;
}


@media (max-width: 800px) {
  footer .about {
    margin-top: 30px;
  }
}

@media (min-width: 800px) {
  footer {
    background-position: 50% 5rem;
    padding: 5rem 4rem 10rem;
  }
  footer .inline {
    float: right;
  }
}
@media (min-width: 840px) {
  footer .inline li {
    display: inline-block;
    padding-right: 10px;
    margin-right: 6px;
  }
  footer .inline li:after {
    content: '\00B7';
    font-size: 26px;
    padding-left: 20px;
    color: #bbb;
    vertical-align: middle;
  }
  footer .inline li:last-of-type {
    padding-right: 0;
    margin-right: 0;
  }
  footer .inline li:last-of-type:after {
    content: '';
  }
}