.footer .section {
  border-top: 1px solid var(--color-tint-light);
  padding-top: 30px;
}
.footer__aside {
  text-align: right;
}
.footer__meta {
  margin-top: 120px;
  font-size: 0.9rem;
  opacity: 0.5;
}
.footer__meta a {
  text-decoration: underline;
  padding-right: 16px;
  margin-right: 8px;
  background-image: url(/newassets/icon-arrow-tr.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: auto 12px;
}
.footer__donate li {
  list-style: none;
  margin-bottom: 20px;
}
.footer__donate input {
  width: 100%;
  background: none;
  border: 0;
  font-size: 0.8rem;
}
.footer h3 {
  color: var(--color-accent);
  margin-bottom: 10px;
}