.header {
  margin-top: 40px;
  margin-bottom: 30px;
}
.header,
.header h1 {
  font-size: 0.9rem;
}
.header h1 {
  color: #f44b00;
}
.header img {
  width: 30px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
}

.header__search {
  float: right;
}
.header__search input {
  background-image: url(/newassets/icon-search.svg);
  background-repeat: no-repeat;
  background-size: auto 19px;
  background-position: 100% 50%;
  text-align: right;
  margin-top: -13px;
  border: 0;
  font-size: 0.9rem;
  padding-right: 25px;
}

header a {
  color: inherit;
  text-decoration: none;
}


.nav li {
  list-style: none;
  display: inline-block;
}
.nav li a {
  margin-right: 18px;
}
.nav a.active,
.nav a:hover {
  border-bottom: 1px solid;
}