@import "./import/grid.css";

::selection {
  background: #f44b00;
  color: #000;
}
::-moz-selection {
  background: #f44b00;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-weight: 200;
  background-image: linear-gradient(left bottom, #f9f8f6 0%, #ffffff 100%);
  background: #f9f8f6;
  color: #595a5a;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-size: cover;
  font-size: 1.15rem;
}
h1, h2, h3, h4 {
  font-weight: normal;
}

h2 {
  font-family: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 1px solid #d8d7d6;
  font-size: 1rem;
  padding: 20px 0;
  margin-bottom: 2em;
  color: #04111d;
}
footer h2 {
  color: #84878b;
  border-color: #525357;
}
h3 {
  font-family: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f44b00;
  font-size: 1.4rem;
  margin-bottom: 0.5em;
  font-weight: normal;
}

.mt {
  margin-top: 40px;
}
.mb {
  margin-bottom: 40px;
}
.mb--x2 {
  margin-bottom: 80px;
}

.cnt {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 80px;
}

@media (min-width: 800px) {
  .cnt {
    margin-top: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 10rem;
  }
}

header h1 img {
  max-width: 100%;
  height: auto;
  display: block;
}

.nav {
  margin-top: 10%;
  margin-bottom: 4rem;
}
.nav ul {
  list-style: none;
  font-family: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 2px;
  color: #04111d;
}
.nav a:hover {
  color: #f44b00;
}

@media (max-width: 800px) {
  header {
    margin-top: 8%;
    z-index: 1;
    position: absolute;
    left: 6%; right: 6%
  }
  header h1 img {
    max-width: 200px;
  }
  header {
    font-size: 1rem;
  }
  .nav {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #d8d7d6;
    width: 100%;
  }
  .nav a {
    color: #84878b;
  }
}

@media (min-width: 800px) {
  header {
    position: fixed;
    left: 0; top: 4.5rem; bottom: 0;
    width: 30%;
    z-index: 1;
  }
  .nav {
    position: absolute;
    bottom: 0; left: 0; right: 0;
  }
  header h1 {
    margin-left: 4rem;
  }
  .nav a { 
    padding-left: 4rem;
  }
  .cnt {
    padding: 0;
    padding-left: 28%;
  }
}


.intro {
  height: 0;
  padding-top: 56.25%;
  width: 100%;
  padding-top: 55%;
  background-image: url(../assets/us-full.jpg);
  background-position: 50%;
  background-size: cover;
  background-color: #f9f8f6;
  box-shadow: 0 -100px 100px #f9f8f6 inset;
  content: ' ';
  top: 0; right: 0;
  bottom: 0;
  display: block;
  position: relative;
}
@media (max-width: 800px) {
  .intro {
    height: auto;
    padding-top: 400px;
    background-position: 17% -60px;
  }
}

.big {
  font-size: 1.6rem;
  line-height: 2.3rem;
  margin: 0 6% 40px 6%;
  color: #031019;
}
@media (min-width: 800px) {
  .big {
    font-size: 1.9rem;
    line-height: 2.5rem;
    margin: 0;
    text-align: right;
    position: absolute;
    z-index: 10;
    width: 56%;
    right: 4.5rem;
    bottom: 3.3rem; 
  }
}

.photo {
  margin: 100px 0;
  margin-left: 4rem;
  background: #4d4d4c;
}
.photo img {
  width: 100%;
  display: block;
}


main {
  background: #f9f8f6;
}
main p,
footer p,
main li {
  margin-bottom: 1em;
  font-size: 1.3rem;
  line-height: 1.9rem;
}
main li {
  margin-bottom: 5px;
  list-style: square;
  margin-left: 1em;
  padding-left: 0.3em;
}

main p strong {
  color: #04111d;
  font-weight: 400;
}

main a {
  border-bottom: 1px solid #f44b00;
  text-decoration: none;
  color: #04111d;
}
main a:hover {
  color: #f44b00;
}

.grid ul {
  margin-bottom: 2em;
}
.grid li {
  list-style: none;
  border-bottom: 1px solid #d8d7d6;
  margin: 0;
  color: #84878b;
}
.grid li:last-of-type {
  border: 0;
}

.points p {
  padding-top: 30px;
  border-top: 1px solid #04111d;
  color: #04111d;
}
@media (max-width: 800px) {
  .points p {
    padding-top: 15px;
  }
}

.principles {
  padding: 30px;
  background: #fff;
  box-shadow: 2px 2px 15px 0 rgba(0,0,0,.04);
}
@media (min-width: 800px) {
  .principles {
    padding: 50px;
  }
}
.principles h3 {
  color: #326ff4;
}
.principles p {
  border-bottom: 1px solid #f9f8f6;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.principles p:last-of-type {
  border: 0;
  margin-bottom: 0;
}
.principles a {
  border-bottom-color: #ddd;
}


.tab-nav {
  margin-bottom: 0px;
  white-space:nowrap;
}
.tab-nav li {
  display: inline-block;
  list-style: none;
  width: 33%;
  margin: 0;
  padding: 0;
}
.tab-nav a {
  border: 0;
  display: block;
  padding: 20px 0;
  font-weight: 400;
  background: #f0efed;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab-nav a.active {
  background: #fff;
  box-shadow: 2px 2px 15px 0 rgba(0,0,0,.04);
}
.tab-nav img {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
.tab-panes {
  position: relative;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}
.tab-pane {
  box-shadow: 2px 2px 15px 0 rgba(0,0,0,.04);
  color: #04111d;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
  max-width: auto;
  overflow: hidden;
}
.tab-pane__inner {
  padding: 50px 50px 30px 50px;
  background: #fff;
}
@media (max-width: 600px) {
  .tab-pane__inner {
    padding: 30px;
  }
}
.tab-pane__inner ul {
  padding-bottom: 10px;
}
.tab-pane.hide {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0s 0.5s, visibility 0s 0.5s, opacity 0.5s linear;
}


.donate {
  overflow: hidden;
  border: 1px solid #525357;
}
.donate img {
  vertical-align: middle;
  float: right;
  margin-top: 3px;
}
.donate li {
  position: relative;
  border-top: 1px solid #525357;
}
.donate li:first-of-type {
  border-top: 0;
}
.donate label {
  border-right: 1px solid #525357;
  color: #84878b;
  position: absolute;
  top: 0; left: 0; bottom: 0;
  padding: 15px;
  cursor: text;
  pointer-events: none;
  width: 18%;
  box-sizing: border-box;
}
.donate label,
.donate input {
  font-family: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
.donate input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  appearance: none;
  background: none;
  padding: 15px 0 15px 21%;
  color: #fff;
  outline: none;
}
.donate input:focus {
  background: #1C1C1D;
}

@media (max-width: 600px) {
  .donate img {
    display: none;
  }
}

.num {
  border-radius: 40px;
  background: #f44b00;
  display: inline-block;
  color: #f9f8f6;
  padding: 4px 20px 3px 20px;
  margin-bottom: 1em;
}
footer .num {
  color: #444547;
}

footer {
  background-color: #292a2b;
  background-color: #292a2b;
  background-image: url(../assets/footer.jpg);
  background-position: 50%;
  background-size: cover;
  color: #f9f8f6;
  padding: 40px 0;
  position: relative;
  z-index: 1;
  /*box-shadow: 0 -50px 50px #f9f8f6, 0 50px 50px #444547 inset;*/
}
.background {
  z-index: -1;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: block;
  background-image: url(../assets/logo-white.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 285px auto;
  background-position: 4rem 4.5rem;
}

footer ul {
  list-style: none;
}
footer .inline a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #525357;
}
footer .inline a:hover {
  color: #f44b00;
  border-color: #f44b00;
}

footer .nav {
  position: absolute;
  margin: 0;
  margin-bottom: 4rem;
  width: 30%;
}
footer .nav a {
  color: #fff;
}

footer .cnt:last-of-type {
  margin-bottom: 30px;
}


@media (max-width: 800px) {
  .background {
    background-image: none;
  }
  footer .nav {
    display: none;
  }
}


@media only screen and (min-width: 840px) {
footer .inline li {
  display: inline-block;
  padding-right: 10px;
  margin-right: 6px;
}
footer .inline li:after {
  content: '\00B7';
  font-size: 26px;
  padding-left: 20px;
  color: #bbb;
}
footer .inline li:last-of-type {
  padding-right: 0;
  margin-right: 0;
}
footer .inline li:last-of-type:after {
  content: '';
}
}