@import "./import/grid.css";
@import "./import/base.css";
@import "./import/forms.css";
@import "./import/header.css";
@import "./import/footer.css";

:root {
  --color-text: #04111d;
  --color-accent: #f44b00;
  --color-accent-invert: #fff;

  --color-tint-light: #d8d7d6;
  --color-tint: #595a5a;
}


.btn {
  background: var(--color-accent);
  color: var(--color-accent-invert);
  padding: 10px 15px;
  display: inline-block;
}

.section {
  margin-bottom: 3em;
}
.section__header {
  font-size: 1rem;
}
.section__more {
  margin-top: 2em;
  text-align: center;
}

.section--lead {
  padding: 100px 0;
  padding: 15vh 0;
}

.intro {
  background-image: url(/newassets/map.svg);
  background-repeat: no-repeat;
  background-size: auto 85%;
  background-position: 50% 50%;
}



.latest__header {
  font-size: 1.8rem;
  margin-bottom: 0.6em;
  color: var(--color-accent);
  border-top: 1px solid var(--color-tint-light);
  padding-top: 1em;
}
.latest__article {
  margin-top: 30px;
}
.latest__excerpt,
.latest__category {
  font-size: 1rem;
  line-height: 1.3rem;
}
.latest__category {
  color: var(--color-tint);
}
.latest--list .latest__header {
  color: inherit;
  padding-top: 0;
  border: 0;
}
.latest--list .latest__article {
  border-top: 1px solid var(--color-text);
  padding-top: 20px;
  margin-top: 2px;
}
.latest--list .latest__article:hover h3 {
  text-decoration: underline;
}


.approach {
  border-top: 1px solid var(--color-tint-light);
  padding-top: 30px;
}
.approach__highlights {
  text-align: center;
  margin-top: 60px;
}
.approach__icon {
  max-width: 200px;
  margin: 0 auto 1em auto;
  display: block;
}


.footer .section {
  border-top: 1px solid var(--color-tint-light);
  padding-top: 30px;
}
.footer__aside {
  text-align: right;
}
.footer__meta {
  margin-top: 120px;
  font-size: 0.9rem;
}
.footer__meta a {
  text-decoration: underline;
  padding-right: 16px;
  margin-right: 8px;
  background-image: url(/newassets/icon-arrow-tr.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: auto 12px;
}
.footer__meta a:hover {
  color: var(--color-accent);
}



.body--research {
  background: #303030;
  color: #fff;
}
.body--research .header h1 {
  color: #fff;
}
.body--resources {
  background: #C3C3C3;
}
.body--resources .header h1 {
  color: #04111c;
}
.body--resources .footer .section {
  border-top: 1px solid var(--color-text);
}
.body--resources .footer .btn {
  background: var(--color-text);
  color: #c3c3c3;
}