@import "./import/variables.css";
@import "./import/grid.css";
@import "./import/base.css";
@import "./import/forms.css";
@import "./import/header.css";
@import "./import/footer.css";

.section {
  margin-bottom: 4em;
  border-top: 1px solid var(--color-tint-light);
  padding-top: 30px;
}
.section--no-border {
  border-top: 0;
}
.section h2 {
  margin-bottom: .6em;
}
.section__header,
.section .section__header {
  font-size: 1rem;
  margin-bottom: 30px;
}
.section__more {
  margin-top: 2em;
  text-align: center;
}
.section__more .btn {
  width: 100%;
  background: #F2F2F1;
  color: var(--color-tint);
}

.section--lead {
  padding: 100px 0;
  padding: 13vh 0;
  border-top: 0;
}

.intro,
.cta-map {
  background-image: url(/newassets/map.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50% 50%;
}
.cta-map {
  background-image: url(/newassets/map-nyc-tiles.png);
}



.latest .section__header {
  margin-bottom: 0;
}
.latest__header {
  font-size: 1.8rem;
  margin-bottom: 0.6em;
  color: var(--color-accent);
  border-top: 1px solid var(--color-tint-light);
  padding-top: 1em;
}
.latest__article {
  margin-top: 30px;
}
.latest__excerpt,
.latest__category {
  font-size: 1rem;
  line-height: 1.3rem;
}
.latest__category {
  color: var(--color-tint);
}
.latest--list .latest__header {
  color: inherit;
  padding-top: 0;
  border: 0;
}
.latest--list .latest__article {
  border-top: 1px solid var(--color-text);
  padding-top: 20px;
  margin-top: 2px;
}
.latest--list .latest__article:hover h3 {
  text-decoration: underline;
}


.approach__highlights {
  text-align: center;
  margin-top: 60px;
  font-size: 1.2rem;
}
.approach__icon {
  max-width: 200px;
  margin: 0 auto 30px auto;
  display: block;
}


.body--research {
  background: var(--color-text);
  color: var(--color-white);
}
.body--research .header h1 {
  color: var(--color-white);
}
.body--research .btn {
  background: var(--color-white);
  color: var(--color-text);
}
.body--research .header__search input {
  color: #fff;
  background-image: url(/newassets/icon-search-light.svg);
}

.body--resources {
  background: var(--color-tint-light);
}
.body--resources .header h1 {
  color: var(--color-text);
}
.body--resources .footer .section {
  border-top: 1px solid var(--color-text);
}
.body--resources .footer .btn {
  background: var(--color-text);
  color: var(--color-tint-light);
}